/* Estilo para a seção de contato */
#contato {
  padding: 4rem 0;
  background-color: var(--branco-perola);
  text-align: center;
}

#contato h2 {
  font-size: 2.5rem;
  color: var(--azul-petroleo);
  margin-bottom: 1rem;
}

#contato p {
  font-size: 1.2rem;
  color: var(--cinza-chumbo);
  margin-bottom: 2rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.social-icon img {
  width: 40px; /* Ajuste o tamanho do ícone SVG */
  height: 40px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icon img:hover {
  transform: scale(1.1);
  filter: brightness(0.8); /* Efeito de brilho ao passar o mouse */
}

@media (max-width: 768px) {
  /* Ajustando a seção de Contato */
  #contato {
    padding: 20px;
    text-align: center;
  }

  #contato .links-contato {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  #contato .links-contato a {
    width: 30px; /* Ajuste o tamanho do ícone */
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
