/* Estilo para a seção de habilidades */
#habilidades {
  padding: 3rem 0;
  text-align: center;
}

#habilidades h2 {
  font-size: 2.5rem;
  color: var(--azul-petroleo);
  margin-bottom: 2rem;
}

.categoria {
  margin-bottom: 2rem;
}

.categoria h3 {
  font-size: 1.8rem;
  color: var(--bordo-escuro);
  margin-bottom: 1rem;
}

.habilidades-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.habilidades-icons img {
  width: 50px;
  height: 50px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.habilidades-icons img:hover {
  transform: scale(1.2);
}

.habilidades-icons img:focus {
  outline: 2px solid var(--ouro);
}

/* Responsividade para telas menores que 768px (dispositivos móveis) */
@media (max-width: 768px) {
  /* Ajustando a seção de Habilidades */
  #habilidades {
    padding: 20px;
    text-align: center;
  }

  .habilidades-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas em telas pequenas */
    gap: 20px;
  }

  .habilidade {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .habilidade img {
    width: 40px; /* Ajuste o tamanho do ícone */
    height: 40px;
  }

  /* Ajustando o layout da lista de habilidades */
  .habilidades-container .habilidade {
    margin-bottom: 10px;
  }
}
