#hero {
  background: linear-gradient(
    to bottom,
    var(--azul-petroleo),
    var(--bordo-escuro)
  );
  color: var(--branco-perola);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.hero-text {
  flex: 1;
  text-align: left;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero-text p {
  font-size: 1.2rem;
}

/* Responsividade */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    text-align: center;
  }
}
