* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cores Exclusivas */
:root {
  --azul-petroleo: #264653;
  --ouro: #e9c46a;
  --bordo-escuro: #8a2b2b;
  --cinza-chumbo: #2a2a2a;
  --branco-perola: #faf3e0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--cinza-chumbo);
  background-color: var(--branco-perola);
}
